<footer>
  <div class="container">
    <div class="row footer-container">
      <div class="col-sm-2 col-sm-offset-1">
        <h5>Links</h5>
        <ul class="link-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-sm-5">
        <h5>Our Address</h5>
        <address>
          214, King Street West<br> Downtown, Toronto<br> ONTARIO
          <br> Tel.: +416 1234 5678<br> Fax: +416 8765 4321<br> Email: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>
        </address>
      </div>
      <div class="col-sm-4">
        <div style="padding: 40px 10px;">
          <div class="footer-social-icons">
            <ul class="social-icons">
              <li><a href="http://google.com/+" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
              <li><a href="http://www.facebook.com/profile.php?id=" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
              <li><a href="http://www.linkedin.com/in/" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
              <li><a href="http://twitter.com/" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
              <li><a href="http://youtube.com/" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
              <li><a href="mailto:" class="social-icon"> <i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <p style="padding:10px;"></p>
        <p align=center>© Copyright 2015 Ristorante Il Fornello</p>
      </div>
    </div>
  </div>
</footer>
